.landing-container
{
    background-color: #0A0C16;
    height: 100vh;
    
}
.inner-landing-continer
{
    background-color:#171717;
    height: 100%;
    border-radius:10px;
}
.desc>h1
{
    background-color: red;
    text-align: center;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 60px;
}
.message-card
{
  
    
    height: 30vw;
    
    border: 2px solid #201f1e;
    box-sizing: border-box;
    box-shadow: -2px -2px 2px rgba(191, 189, 200, 0.08),
    2px 2px 3px rgba(0, 0, 0, 0.4),
    -10px -10px 15px rgba(208, 197, 249, 0.005),
    10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}