nav{
  background-color: #15202b;
}

.nav-logo {
  background-color: white;
  height: 2.5rem;
  width: auto;
}

.navbar-brand
{
  color: white;
  text-decoration: none;
  margin-left: 2%;
  font-size: x-large;
  font-weight: bolder;
}

.navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.navbar-toggler{
  background-color: white;
  border: 0px;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.2);
}

/* This is not working */
.nav-item:active {
  font-weight: bold;
  color: white;
  transform: scale(1.1);
}