.footer-link{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px;
    text-decoration: underline;
    background: -webkit-linear-gradient(right, #eee, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer{
    padding: 10px;
}
